<!DOCTYPE html>
<html>
    <head>
        {{>css_links}}
        <title>Weather nodes</title>
    </head>
    <body>
        {{>header}}
        <section class="page-content">
            <p class="error-block">{{message}}</p>
        </section>
        {{>footer}}
    </body>
</html>