<header class="header">
    <div class="logo-block">
        <div class="logo"></div>
        <h1>Weather Nodes</h1>
    </div>
    <div class="menu">
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>
    <ul class="breadcrums">
        <i class="fa fa-home"></i>
        <li>{{title}}</li>
    </ul>
</header>